/* *{
    margin: 0;
    padding:0;
    background-color: black;
}
.navbar{
    width: 1197.38px;
    height: 80px;
    margin-left: 121px;
    margin-top: 98px;
    padding: top 16px left 28px;
}
nav{
    display: flex;
    justify-content: center;
}
nav ul{
  
}
nav li{
display: inline-block;
margin-left: ;

} */

* {
  margin: 0;
  padding: 0;
  /* background-color: black; */
  /* display: flex;
    align-items: center; */
    font-family: gdgc;
}
/* .navbar{
    background-color: aqua;
    height: 80px;
    width: 1197.38px;   
    margin-top: 6vh; 
    margin-left: 10vw;
    margin-right: 10vw;
} */

body {
  /* background-image: url(/image/Frame\ 5.png); */
  background-color: #272525;
}
@font-face {
  font-family: gdgc font;
  src: url(/fonts/Product\ Sans\ Regular.ttf);
}
button:hover {
  cursor: pointer;
}
/* ----------------------------------------------Navbar------------------------------------------------------ */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(75, 74, 74, 0.619);
  height: 80px;
  /* width: 1197.38px; */
  width: 1100px;

  border-radius: 12px;
  position: relative;
  top: -1rem;

  background-clip: padding-box;
  border: solid 1.5px white;
  backdrop-filter: blur(10px);
  /* ------------------------------------------------------------ */
  /* position: sticky; */
  /* overflow: visible */
  /* margin:8vh; */
  /* margin-top: 6vh; 
    margin-left: 10vw; */
  /* margin-right: 40vw; */
  /* padding: 16px 28px 16px 28px; */
  /* opacity: 0.75; */

  /* border: 1.5px solid; */
  /* border-image: linear-gradient(to right, red, blue, green, yellow) 1; */

  /* border: 2px solid transparent;
    background: linear-gradient(140deg, red,orange,yellow,green,indigo,blue) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
     mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0); */
  /* -webkit-mask-composite: destination-out; */
  /* mask-composite: exclude;   */
  /* -webkit-background-clip:initial;   */

  /* --------------------------------------------------------------------------- */
  /* display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    max-width: 22em;
    position: relative;
    padding: 30% 2em;
    box-sizing: border-box;
    color: #13e533;
    background: #000;
    background-clip: padding-box;
    /* !importanté */
  /* border: solid 5px transparent; */
  /* !importanté */
  /* border-radius: 1em;  */
}

#nav-img {
  height: 36px;
  width: 335.37px;
  margin-left: -3vw;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
nav li {
  display: inline-block;
  list-style: none;
}
nav li a {
  padding: 0.9rem;
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
  /* z-index: 9999; */
}
nav li a:hover {
  color: #4282f2;
}
nav button {
  background-color: rgb(39, 37, 37);
  height: 48px;
  width: 115px;
  border: 0;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  opacity: 2;
}
nav button:active {
  border-style: outset;
}
nav button a {
  color: #ffffff;
  height: 28px;
  width: 67px;
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 2.5rem; */
  position: sticky;
  top: 2.5rem;
  z-index: 9999999999;
}
/* ----------------------------------------------Navbar------------------------------------------------------ */

/* ----------------------------------------------Hero Section------------------------------------------------------ */

.hero-container {
  position: relative;
  top: -3rem;
  /* background-image: url(/image/BG-1.png.svg); */
}
#logo1 {
  display: flex;
  position: absolute;
  /* position: sticky; */

  top: -1rem;
  left: 2.813rem;
  z-index: -1;
}
#logo2 {
  display: flex;
  position: absolute;
  top: 21.438rem;
  right: 4rem;
  z-index: -1;
}

#logo3 {
  display: flex;
  position: absolute;
  top: 19.438rem;
  left: 4.8rem;
  z-index: -1;
}
#logo4 {
  display: flex;
  position: absolute;
  top: 15.438rem;
  right: 1rem;
  z-index: -2;
}
#logo5 {
  display: flex;
  /* width: 96.875rem; */
  /* justify-content: center;
    align-items: center; */
  position: absolute;
  top: -14.438rem;
  z-index: -5;
}

.main {
  position: relative;
  top: 5rem;
}
.main-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position:absolute;
    top:190px;
    left: 50%; */
  position: relative;
  top: 5rem;
  color: #ffffff;
  font-family: "Product Sans Regular";
  /* src: url(/fonts/Product\ Sans\ Regular.ttf); */
  font-style: normal;
  font-size: 40px;
}
.main-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5.25rem;
  left: -7.188rem;
  color: #ffffff;
  font-family: "ProductSans-Light";
  src: url(/fonts/ProductSans-Light.ttf);
  font-style: large;
  font-size: 25px;
}
.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 3.125rem;
}
#btn1 {
  height: 3.75rem;
  width: 12.625rem;
  padding: 12px 24px 12px 24px;
  border-radius: 12px;
  font-family: "Product Sans Regular";
  src: url(/fonts/Product\ Sans\ Regular.ttf);
  font-style: large;
  font-size: 25px;
  margin-right: 1.25rem;
  cursor: pointer;
}
#btn2 {
  height: 3.75rem;
  width: 15.75rem;
  padding: 12px 24px 12px 24px;
  border-radius: 12px;
  border-color: #ffffff;
  font-family: "Product Sans Regular";
  src: url(/fonts/Product\ Sans\ Regular.ttf);
  font-style: large;
  font-size: 25px;
  background-color: rgba(247, 243, 243, 0.267);
  color: #ffffff;
  cursor: pointer;
}

/* ----------------------------------------------Hero Section------------------------------------------------------ */

/* ----------------------------------------------Number Section------------------------------------------------------ */
.number {
  /* padding-top: 25rem; */
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  position: relative;
  top: 28rem;
  gap: 9rem;
}
.flex {
  display: flex;
  flex-direction: column;
}
.num {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 30px;
  /* font-family: 'Product Sans Regular';
    src: url(/fonts/Product\ Sans\ Regular.ttf); */
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
/* ----------------------------------------------Number Section------------------------------------------------------ */

/* ----------------------------------------------Ongoing Section------------------------------------------------------ */
.ongoing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  color: #ffffff;
  /* padding-top: 10rem; */
  position: relative;
  top: 35rem;
}
.ongoing-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}
.ongoing-text {
  display: flex;
  /* align-items: center;
    justify-content: center; */
  flex-direction: column;
  font-size: xx-large;
  gap: 2rem;
}
.ongoing-image {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 378px;
    height: 378px; */
}
.ongoing-image img {
  width: 450px;
  height: 450px;
  border-radius: 300px;
}
#btn3 {
  height: 3.75rem;
  width: 12.625rem;
  padding: 12px 24px 12px 24px;
  border-radius: 12px;
  font-style: large;
  font-size: 25px;
  margin-right: 1.25rem;
}
.ongoing-container h1 {
  font-size: 3rem;
  /* height:750px;
    width: 435px; */
}
.ongoing-text h2 {
  font-weight: 100;
}
/* ----------------------------------------------Ongoing Section------------------------------------------------------ */

/* ----------------------------------------------About Section------------------------------------------------------ */
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;

  /* padding-left: 200px; */
  /* padding-right: 200px; */
  /* padding-top: 7rem; */
  position: relative;
  top: 40rem;
}
.about-image {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100px; */
}
.about-text {
  display: flex;
  /* align-items: center;
    justify-content: center; */
  flex-direction: column;
  color: #ffffff;
  gap: 1rem;
}
/* .about-image img{
    width: 350px;
    height: 300px;
} */
.about-heading h1 {
  font-size: 2.5rem;
}
.about-content {
  font-size: 1.5rem;
}
.about-content p{
  font-size: 30px;
}
/* ----------------------------------------------About Section------------------------------------------------------ */

/* ----------------------------------------------GDGC Section------------------------------------------------------ */
.GDGC-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding-top: 7rem; */
  position: relative;
  top: 45rem;
  gap: 1.5rem;
  color:#ffffff;
}
.Up{
  display: flex;
  gap:6rem;
  align-items: center;
  justify-content: center;
}
.Up-img{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:2rem;
}
.Down{
  display: flex;
  gap:3rem;
  align-items: center;
  justify-content: center;
}
.GDGC-Text{
  display: flex;
  flex-direction: column;
  gap:1rem;
}
.heading{
  display: flex;
}
.heading img{
  width: 100px;
  height: 50px;
}
.heading h1{
  font-size: 2.5rem;
}
.content{
  font-size: 1.8rem;
}
.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height:350px;
  width: 100%;

}
.bottom-img {
  gap: 1rem;
}
/* ----------------------------------------------GDGC Section------------------------------------------------------ */

/* -------------------------------------------------Blogs Section------------------------------- */

.blog-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 54px 80px;
  max-width: 74vw;
  gap: 50px;
  margin: auto;
  height: 100vh;
  color: white;
  position: relative;
  top: 60rem;
}

.blog-header {
  line-height: 81px;
  text-align: left;
  width: 40%;
}

.blog-header h1 {
  font-size: 5rem;
}

.blog-header p {
  font-size: 2.5rem;
  color: #ccc;
}

.swiper-wrapper {
  overflow: hidden;
  width: 60%;
}

.swiper {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.swipe {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog-card {
  background-color: #242424;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  width: 80%;
  margin: 0 auto;
}

.blog-card h3 {
  font-size: 1.5rem;
  margin: 0 0 10px;
}

.blog-card p {
  font-size: 1rem;
  color: #ccc;
}

.author {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.author img {
  border-radius: 50%;
  margin-right: 10px;
}

.tags {
  margin-top: 10px;
}

.tag {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 5px;
  font-size: 0.8rem;
  color: white;
}

.tag.ai {
  background-color: #ff5722;
}
.tag.cloud {
  background-color: #03a9f4;
}
.tag.ml {
  background-color: #8bc34a;
}
.tag.design {
  background-color: #ffc107;
}

/* swiper Controls */
.swiper-controls {
  justify-content: flex-end;
  margin-top: 14px;
  display: flex;
  gap: 10px;
  padding-right: 41px;
}

.swiper-controls button {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: blue;
}

.swiper-controls button:hover {
  background-color: #555;
}

/* -------------------------------------------------Blogs Section------------------------------- */

/* -------------------------------------------------Past Events Section------------------------------- */

.past-events {
  color: #fff;
  text-align: center;
  padding: 50px 20px;
  position: relative;
  top: 65rem;
}

.past-events h2 {
  font-size: 4.5em;
  margin-bottom: 76px;
}

.past-events .carousel {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.past-events .carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.event {
  min-width: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 21px;
}

.event img {
  width: 190px;
  height: 190px;
  border-radius: 56%;
}

.event p {
  margin: 10px 0 5px;
  font-size: 1.7em;
}

.event h3 {
  margin: 0;
  font-size: 2.2em;
}

.past-events .carousel-controls {
  display: flex;
  justify-content: flex-end;
  gap: 54px;
  padding: 33px;
}

.past-events button {
  background-color: rgb(255 255 255);
  color: #262020;
  border: none;
  padding: 11px 23px;
  cursor: pointer;
  font-size: 1.7em;
  border-radius: 92px;
}

.past-events button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* -------------------------------------------------Past Events Section------------------------------- */




/* ----------------------------------------------------FAQ Section-------------------------------------------------- */

.faq {
  color: #fff;
  display: flex;
  gap: 1rem;
  margin: auto;
  align-items: center;
  padding: 1rem 4rem;
  max-width: 100%;
}

.faq-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 40%;
}
.faq-left-top {
  font-size: 72px;
}
.faq-left-bottom {
  font-size: 36px;
}

.faq-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
  padding: 2rem;
  border-radius: 30px;
  background-color: rgb(25, 20, 20);
}

.faq-right .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}
.faq-right .question img {
  width: 32px;
  height: 32px;
}

.faq-right .answer {
  font-size: 22px;
  margin-top: 1rem;
  padding-right: 4rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}


.faq-right .answer.active {
  max-height: 300px;
}

.each-faq:not(:last-child) {
  border-bottom: 1px solid #fff; 
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}


@media (max-width: 900px) {
  .faq{
    flex-direction: column;
  }
  .faq-left{
    margin-bottom: 3rem;
  }
}





/* -----------------------footer-------------------- */

.footer {
  background-color: rgb(25, 20, 20);
  height: 500px;
  max-width: 100%;
  margin: 1rem 2rem;
  padding: 3rem;
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  color: white;
}


.social-media {
  display: flex;
  gap: 2rem;
  font-size: 30px;
}
.social-media a {
  color: #fff;
  border-radius: 50%;
  background-color: black;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  padding: 1rem;
}
.footer-gdgc {
  display: flex;
  width: 200px;
  gap: 1rem;

}
.footer-gdgc h3{
  font-size: 1.5rem;

}
